<?xml version="1.0" encoding="windows-1251"?>
<settings>
    <servers>
        <server>
            <id>starboost-nexus</id>
            <username>${env.NEXUS_USERNAME}</username>
            <password>${env.NEXUS_PASSWORD}</password>
        </server>
    </servers>
    <mirrors>
        <mirror>
            <id>nexus-maven-central</id>
            <name>AVAL Nexus mirror</name>
            <url>https://nexus.shared.avalaunch.rbua/repository/maven-public/</url>
            <mirrorOf>*,!camunda-ee,!nexus-test-aval</mirrorOf>
        </mirror>
    </mirrors>
    <profiles>
        <profile>
            <id>starboost-nexus</id>
            <repositories>
                <repository>
                    <id>maven-central</id>
                    <name>Maven Central Public</name>
                    <url>https://nexus.shared.avalaunch.rbua/repository/maven-public/</url>
                </repository>
            </repositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>starboost-nexus</activeProfile>
    </activeProfiles>
</settings>

